@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
/* Reset and global styles */
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    cursor: none;
    margin: 0;
    overflow-x:hidden;
    color: #eee;
}
body {
    overflow-x: hidden;
}
#page1, #page2, #page3 {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
#cursor {
    height: 40px;
    width: 30px;
    position: fixed;
    z-index: 999;
    pointer-events: none; /* Prevent interaction with the cursor element itself */
    background-image: url('cursor4.png');
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: none;
}


#navbar {
    
    height: 10vh;
    width: 100%;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    position: fixed; /* Ensure position is fixed */
    top: 0;
    padding: 0 45px;
    box-sizing: border-box;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.25);
    flex-wrap: nowrap;
    transition: top 0.5s ease; /* Add transition for smooth hiding/showing */
}

ul{
    margin: 0;
    padding: 0;
display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    color:white;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}
.brand{
     font-size: 1.3em;
     color:white;
     font-weight: bold;
     text-decoration: none;
     transition: background-color 0.3s ease;
     padding: 10px 30px;
     border-radius: 20px;
}
#navbar a:hover {
    background-color: rgba(255, 255, 255, 0.301);
}

#page1 {
    transition: opacity 1s ease-in;
    height: 105vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homepage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#content-wrapper {
    z-index: 1;
    text-align: center;
    padding-right: 590px;
    padding-top: 70px;

}

.page-text {
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.large-text {
    font-size: 55px;
}

.changing-text {
    display: inline-block;
    white-space: pre;
}

.welcome {
    margin-left: 30px;
}

#description {
    margin-top: 20px;
    font-size: 1.3em;
    color: #ffffffdc;
    text-align: center;
    max-width: 600px;
    margin-left: 30px;
    margin-right: auto;
}

#description p {
    margin: 0;
    font-size: 0.8em; /* Adjust the font size as needed */
    line-height: 1.4; /* Adjust the line height for vertical spacing */
    letter-spacing: 0.6px; /* Adjust the letter spacing */
    font-weight: normal;
}

#rocket-animation {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    z-index: 1000;
    transition: opacity 2s ease-out; /* Smooth fade-out */
}

#rocket {
    height: 450px;
    width: 320px;
    animation: launch 2.6s forwards;
    transition: opacity 2s ease-in;
}

#rocket-animation.hide {
    opacity: 0;
    pointer-events: none; /* Prevent interaction with the hidden element */
}

/* Hide the rocket animation after it's done */
.hide {
    display: none;
}

@keyframes launch {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(-100vh);
    }
}

#page2 {
    height: 100vh;
    width: 100%;
    background-image: url('starspage2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3 {
    height: 100vh;
    width: 100%;
    background-image: url('starspage2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    background-color: rgba(239, 242, 248, 0);
    display: flex;
    gap: 30px; /* Space between the boxes */
    padding: 20px;
    height: 100%;
    width: 100%; /* Adjust width as needed */
    justify-content: center;
    align-items: center;
    max-width: 1200px; /* adjust the max-width value as needed */
    margin: 0 auto;
}

.box {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.682);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Add this */
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%; /* Add this */
}

#img-box {
    width: 40%;
    height: 70%; /* Add this */
    background-color: rgba(255, 255, 255, 0.04);
}

#img-box img {
    width: 100%;
    height: 100%; /* Add this */
    border-radius: 15px;
    object-fit: cover; /* Add this to ensure the image covers the entire box */
}
#img-box1 {
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70%; /* Add this */
    background-color: rgba(255, 255, 255, 0.04);
}

#img-box1 img {
    width: 85%;
    height: 85%; /* Add this */
    border-radius: 10%;
    object-fit: cover; /* Add this to ensure the image covers the entire box */
}

#text-box {
    background-color: rgba(255, 255, 255, 0.04);
    width: 55%;
    height: 70%; /* Add this */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

#text-box p {
    font-weight: bolder;
    font-size: 3.3em;
    margin-bottom: 20px;
}
#text-box1 {
    background-color: rgba(255, 255, 255, 0.04);
    width: 55%;
    height: 70%; /* Add this */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
}
#calender{
    color:rgb(4, 128, 211);
}
#quizspan{
    color:rgb(4, 128, 211);
}
#text-box1 p {
    font-weight: bolder;
    font-size: 3em;
    margin-bottom: 20px;
}
.button1 {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
}

.icon {
    width: 50px;
    height: 35px;
    transition: all 0.3s ease-in-out;
}

.button1:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.button1:hover .icon {
    transform: translate(4px);
}

.button1:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.button1::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

#nav.hide {
    transform: translateY(-100%);
}
header {
    width: 100%;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    font-family: Poppins;
}

header .logo {
    font-weight: bold;
}

header .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}

/* CSS Slider */
.slider {
    font-family: Poppins;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    margin-top: -50px;
    position: relative;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
    font-family: Poppins;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: Poppins;
}

.slider .list .item::after {
    font-family: Poppins;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 23%, transparent);
}

.slider .list .item .content {
    font-family: Poppins;
    position: absolute;
    left: 8%;
    top: 20%;
    width: 550px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content p:nth-child(3) {
    word-spacing: 4px;
    font-size: 17px;
}

.slider .list .item .content h2 {
    font-size: 50px;
    margin: 0;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-duration: 1.3s;
}

.arrows {
    position: absolute;
    top: 95%;
    right: 40%;
    z-index: 100;
    gap: 20px;
    max-width: 30%;
    display: flex;
}

.arrows button1 {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

.arrows button1:hover {
    background-color: #eee;
    color: black;
    cursor:none;
}

.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 25%;
    z-index: 11;
    display: flex;
    gap: 20px; /* increased space between thumbnails */
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: visible; /* allows enlarged thumbnails to be visible */
    justify-content: center;
    align-items: center; /* center thumbnails vertically */
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 0;
    border-radius: 10px; /* ensures curved edges */
}

.thumbnail .item.active {
    filter: brightness(1.5);
    transform: scale(1.2); /* ensures scaling */
    transform-origin: center; /* ensures it scales up and down */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* adds more shadow */
    z-index: 20; /* ensures the active thumbnail is on top */
    position: relative; /* ensures the active thumbnail is positioned correctly */
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
}

@media screen and (max-width: 678px) {
    .thumbnail {
        justify-content: start;
    }
    .slider .list .item .content h2 {
        font-size: 60px;
    }
    .arrows {
        top: 10%;
    }
}
/* CSS styles */
.page4 {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.964);
    margin: 0 auto;
}

.left-side {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
}

.right-side {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: white;
}

.box2 {
    background-color: rgba(241, 241, 235, 0.258);
    border: 5px solid #fff;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    margin: 10px;
    text-align: center;
}

.circle-photo {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
}

.circle-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.social-icons a {
    font-size: 30px;
    color: #fff;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: translateY(-5px);
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    background: transparent;
    height: 90%;
    width: 50%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(165, 130, 130, 0.388);
}

.form-container h1 {
    font-family: 'Orbitron', sans-serif;
    margin-top: 10%;
    margin-left: 5%;
    font-weight: bolder;
    font-size: 200%;
    text-align: center;
    margin-bottom: 10%;
    color: #fff;
}

.form-group {
    margin-top: 10%;
    margin-bottom: 15px;
    font-size: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.form-group label {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    width: 40%;
    max-width: 100%;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease;
    margin-top: 1rem;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #f3f2f2;
    border-radius: 4px;
    background: transparent;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

form input:hover,
form textarea:hover {
    background: #72b0f285;
    cursor:none;
}


@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    90% {
        transform: translate(-50%, -50%) rotate(1080deg) scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes success {
    from {
        transform: translate(-50%, -50%) rotate(0) scale(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}

@keyframes error {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        background-color: #f44336;
    }
}

@keyframes vibrate {
    0%,
    30%,
    60%,
    85%,
    100% {
        left: 0;
        background-color: #f44336;
    }
    10%,
    40%,
    90%,
    70% {
        left: -2px;
        background-color: #f44336;
    }
    20%,
    50%,
    80%,
    95% {
        left: 2px;
        background-color: #f44336;
    }
}
#button2{
    margin-top: 15%;
    margin-left: 32%;
}
#button2:focus {
    outline: 0;
}

#button2.animate {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: transparent;
}

#button2.animate:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    border: 4px solid #fefefe;
    border-radius: 50%;
    border-left-color: transparent;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: spin 2.5s ease-in forwards;
}

#button2.success:before {
    position: absolute;
    content: '';
    width: 25px;
    height: 12.5px;
    border: 4px solid #fefefe;
    border-right: 0;
    border-top: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    animation: success 0.15s ease-in forwards;
    animation-delay: 2.5s;
}

#button2.error {
    animation: vibrate 0.5s ease-in forwards;
    animation-delay: 2.5s;
}

#button2.error:before {
    color: #fff;
    position: absolute;
    content: '!';
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: error 0.5s ease-in forwards;
    animation-delay: 2.5s;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    90% {
        transform: translate(-50%, -50%) rotate(1080deg) scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes success {
    from {
        transform: translate(-50%, -50%) rotate(0) scale(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}

@keyframes error {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        background-color: #f44336;
    }
}

@keyframes vibrate {
    0%,
    30%,
    60%,
    85%,
    100% {
        left: 0;
        background-color: #f44336;
    }
    10%,
    40%,
    90%,
    70% {
        left: -2px;
        background-color: #f44336;
    }
    20%,
    50%,
    80%,
    95% {
        left: 2px;
        background-color: #f44336;
    }
}
