@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    cursor: none;
    margin: 0;
    color: #eee;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
#page1{
    height: 100vh;
    width: 100vw;
}
#cursor {
    height: 40px;
    width: 30px;
    position: fixed;
    z-index: 999;
    pointer-events: none; /* Prevent interaction with the cursor element itself */
    background-image: url('image/cursor4.png');
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: none;
}

/* navbar css */
#navbar {
    height: 10vh;
    width: 100%;
    color: white;
    font-size: calc(0.5rem + 0.8vw);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    position: fixed;
    top: 0;
    padding: 0 1%;
    box-sizing: border-box;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.432);
    flex-wrap: nowrap;
    transition: top 0.5s ease;
    gap: 15%;
  }

  /* navbar animation */
  #navbar {
    transition: height 0.2s ease-in-out; /* optional transition */
  }
  
  #navbar:hover {
    height: 12vh; /* new height on hover */
  }
  .nav-links{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
  }

.navlinks a{
    color: white;
    font-size: 0.85rem;
    text-decoration: none;
    font-weight: bolder;
    padding: 10px 10px;
    border-radius: 20px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.brand{
     font-size: 2.0rem;
     color:white;
     font-weight: bold;
     text-decoration: none;
     transition: background-color 0.3s ease;
     padding: 10px 20px;
     border-radius: 20px;
}

/*next two are for hover background  */
/* #navbar a:hover {
     /* background-color: rgba(255, 255, 255, 0.301); 
     border-radius: 20px;
} */

li:hover{
    border-radius: 20px;
    background-color: #ffffff73;
}

.hamburger {
    display: none;
    flex-direction: column;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0%;
        background-color: #333;
        max-width: 350px;
        gap: 2rem;
        padding-block: 2rem;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
        width: 100%;
    }

    .nav-links li:hover{
        display: inline-block;
    }
}
/* page 1 css */
#page1 {
    transition: opacity 1s ease-in;
    height: 107vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top, #000000 1%, transparent);
}

/* page 1 background */
#homepage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#content-wrapper {
    z-index: 1;
    text-align: center;
    padding-top: 70px;

}

.page-text {
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.text-container{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    flex-direction: column;
    padding-left: 6rem;
}

.large-text {
    font-size: calc(2rem + 1.5vw);
}

.changing-text {
    display: inline-block;
    white-space: pre;
}

.welcome {
    margin-left: 30px;
}

#description {
    margin-top: 20px;
    font-size: 1.3em;
    color: #ffffffdc;
    text-align: center;
    max-width: 600px;
    padding-inline: 1rem;
}

#description p {
    margin: 0;
    font-size: 0.8em; /* Adjust the font size as needed */
    line-height: 1.4; /* Adjust the line height for vertical spacing */
    letter-spacing: 0.6px; /* Adjust the letter spacing */
    font-weight: normal;
}

/* rocket intro */
#rocket-animation {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    z-index: 1000;
    transition: opacity 2s ease-out; /* Smooth fade-out */
}

#rocket {
    height: 450px;
    width: 320px;
    animation: launch 2.6s forwards;
    transition: opacity 2s ease-in;
}

#rocket-animation.hide {
    opacity: 0;
    pointer-events: none; /* Prevent interaction with the hidden element */
}

/* Hide the rocket animation after it's done */
.hide {
    display: none;
}

@keyframes launch {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(-100vh);
    }
}

/* page 2 & 3 css */
#page2 {
    width: 100%;
    background-image: url('image/starspage2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 12rem;

}
#page3 {
    width: 100%;
    background-image: url('image/starspage2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 12rem;
}

.content-container {
    background-color: rgba(239, 242, 248, 0);
    display: flex;
    gap: 30px; /* Space between the boxes */
    padding: 20px;
    height: 100%;
    width: 100%; /* Adjust width as needed */
    justify-content: center;
    align-items: center;
    max-width: 1200px; /* adjust the max-width value as needed */
    margin: 0 auto;
    flex-wrap: wrap;
}

.box {
    margin-top: 10px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.682);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Add this */
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%; /* Add this */
}

/* next two not needed */
/* #img-box {
    width: 40%;
    height: 70%; /* Add this 
    background-color: rgba(255, 255, 255, 0.04);
}

#img-box img {
    width: 20rem;
    height: 20rem; /* Add this 
    border-radius: 15px;
    object-fit: cover; /* Add this to ensure the image covers the entire box 
} */
#img-box1 {
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70%; /* Add this */
    background-color: rgba(255, 255, 255, 0.04);
}

#img-box1 img {
    width: 20rem;
    height: 20rem; /* Add this */
    border-radius: 10%;
    object-fit: cover; /* Add this to ensure the image covers the entire box */
}

/* this two also */
/* #text-box {
    background-color: rgba(255, 255, 255, 0.04);
    width: 55%;
    height: 70%; /* Add this
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

#text-box p {
    font-weight: bolder;
    font-size: 3em;
    margin-bottom: 20px;
} */
#text-box1 {
    background-color: rgba(255, 255, 255, 0.04);
    width: 55%;
    height: 70%; /* Add this */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
}
#calender{
    color:rgb(4, 128, 211);
}
#quizspan{
    color:rgb(4, 128, 211);
}
#text-box1 p {
    font-weight: bolder;
    font-size: 2.8em;
    margin-bottom: 20px;
}
.button1 {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
}

.icon {
    width: 50px;
    height: 35px;
    transition: all 0.3s ease-in-out;
}

.button1:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.button1:hover .icon {
    transform: translate(4px);
}

.button1:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.button1::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

/* for hide on scroll */
/* #nav.hide {
    transform: translateY(-100%);
} */

/* CSS Slider */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.slider {
    height: 100vh;
    width: 100%;
    margin-top: -50px;
    position: relative;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 10%, transparent);
}

.slider .list .item .content {
    position: absolute;
    left: 8%;
    top: 20%;
    max-width: 45%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content p:nth-child(3) {
    word-spacing: 4px;
    font-size: 17px;
}

.slider .list .item .content h2 {
    display: inline;
    font-size: calc(4rem - 2vh);
    margin: 0;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-duration: 1.3s;
}

.arrows {
    position: absolute;
    top: 92%;
    right: 60%;
    z-index: 100;
    gap: 20px;
    max-width: 30%;
    display: flex;
}

.arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

.arrows button:hover {
    background-color: #eee;
    color: black;
}

.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 55%;
    z-index: 11;
    display: flex;
    flex-direction: row;
    gap: 4%;
    width: 45%;
    height: 250px;
    box-sizing: border-box;
    overflow: visible;
    justify-content: center;
}

.thumbnail .col,
.thumbnail .col1 {

    display: flex;
    flex-direction: row;
    gap: 4%;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 0;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8%;
}
.thumbnail .item.active{
    filter: brightness(1.3);
    transform: scale(1.2); 
    transform-origin: center; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    z-index: 20; 
    border: 10px;
    position: relative;
}
.thumbnail .item.active .content {
    border: 10px;
    border-color: #fff;
    filter: brightness(2.5);
    transform: translateY(30px);
    filter: blur(20px);
    /* opacity: 0; */
    animation: showContent .5s .7s ease-in-out 1 forwards;

}

.thumbnail .item.active .content {
    animation-delay: 1s;
}

.thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
}

@media screen and (max-width: 1440px) {

    .slider {
        height: 130vh;
    }

    .thumbnail {
        display: flex;
        flex-direction: column;
        gap: 2%;
        width: 38%;
        height: 90vh;
        top: 15%;
        left: 60%;
    }
    .slider .list .item .content {
        left: 8%;
        top: 15%;
        max-width: 50%;
    }
    .thumbnail .col,
    .thumbnail .col1 {
        gap: 2%;
    }

    .thumbnail .item {
        height: 40vh;
        width: 45%;
        gap: 1%;
    }

    .slider .list .item .content h2 {
        font-size: 40px;
    }

    .slider .list .item .content p:nth-child(3) {
        font-size: 18px;
    }
    .arrows {
        top: 91%;
        right: 65%;
    }

    .slider .list .item .content p:nth-child(1) {
        letter-spacing: 8px;
    }
}
@media screen and (max-width: 925px) {

    .slider {
        height: 112vh;
    }

    .thumbnail {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 28%;
        height: 110vh;
        top: 5%;
        left: 70%;
    }
    .slider .list .item .content {
        position: absolute;
        left: 8%;
        top: 10%;
        max-width: 55%;
    }
    
    .slider .list .item .content h2 {
        font-size: 30px;
    }

    .thumbnail .col,
    .thumbnail .col1 {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    .slider .list .item .content p:nth-child(3) {
        word-spacing: 2px;
        font-size: 16px;
    }
    .thumbnail .item {
        height: 23vh;
        width: 80%;
        gap: 1%;
    }
    .arrows {
        top: 90%;
        right: 65%;
    }

}
@media screen and (max-width: 680px) {
    .slider {
        height: 120vh;
    }

    .slider .list .item .content {
        position: absolute;
        left: 5%;
        top: 10%;
        max-width: 90%;
    }

    .thumbnail {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        top: 80%;
        left: 0%;
        gap: 2px;
        padding: 0%;
    }

    .thumbnail .col,
    .thumbnail .col1 {
        width: 48%;
        gap: 3%;
        display: flex;
        flex-direction: row;
    }
    .thumbnail .item {
        width: 49%;
    }

    .slider .list .item .content h2 {
        font-size: 30px;
    }

    .arrows {
        top: 72%;
        right: 40%;
        justify-content: center;
    }

    .slider .list .item .content p:nth-child(1) {
        letter-spacing: 3px;
    }

    .slider .list .item .content p:nth-child(3) {
        font-size: 15px;
    }
} 

@media screen and (max-width: 500px) {
    .slider {
        height: 130vh;
    }

    .thumbnail {
        height: 150px;
    }

    .thumbnail .item {
        top: -50px;
    }

    .arrows {
        top: 72%;
    }
    
    .slider .list .item .content h2 {
        font-size: 30px;
    }
    .slider .list .item .content p:nth-child(3) {
        word-spacing: 2px;
        font-size: 15px;
    }

    .slider .list .item .content p:nth-child(1) {
        text-transform: uppercase;
        letter-spacing: 3px;
    }
} 

 @media screen and (max-width: 450px) {
   
    .thumbnail {
        display: none;
    }

    .slider {
        height: 110vh;
    }


    .arrows {
        top: 91%;
        right: 40%;
        display: flex;
        flex-direction: row;
    }
    .slider .list .item .content p:nth-child(3) {
        word-spacing: 2px;
        font-size: 14px;
    }
    .slider .list .item .content p:nth-child(1) {
        text-transform: uppercase;
        letter-spacing: 3px;
    }

} 
/* page 4 CSS styles */
.page4 {
    display: flex;
    flex-wrap: wrap;
    /* height: 100%; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.964);
    margin: 0 auto;
}
h6{
    width: 100%;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(78, 84, 207);
    text-align: center;
    margin-inline: 10%;
    margin-top: 2.5%;
}

.left-side {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* width: 50%; */
    /* padding: 20px; */
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    padding-inline: 100px;
    padding-block: 3rem;
}

/* .right-side {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
} */

.box2 {
    background-color: rgba(241, 241, 235, 0.258);
    border: 5px solid #fff;
    border-radius: 10px;
    padding: 15px;
    width: 45%;
    margin: 30px;
    text-align: center;
}
@media screen and (max-width:750px){
   .box2{
    width: 80%;
    padding: 5%;
   }
   .left-side{
    padding-inline: 10%;
   }
}
.circle-photo {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
}

.circle-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}
@media screen and (max-width:900px){
    .name{
        font-size: 18px;
    }
 }
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.social-icons a {
    font-size: 30px;
    color: #fff;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: translateY(-5px);
}


/* form container */
.main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px;
    background-color: #000000;
    /* background-image: url("img1.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.faq-container {
    width: 50%;
    margin-right: 20px;
    background: none;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.faq-container h1 {
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.faq-item {
    border-bottom: 1px solid #4c4c4cd0;
    padding: 10px 0;
}
.question {
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    display: flex;
    font-family: 'Orbitron', sans-serif;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease;
}
.question:hover{
    cursor: none;
}
.answer {
    font-weight:normal;
    font-size:medium;
    font-family: Poppins;
    display: none;
    padding: 10px;
    background: #252525c5;
    border-radius: 4px;
    margin-top: 5px;
}
.arrow {
    transition: transform 0.3s ease;
    right: 5%;
    margin: 0px 50px 0px 0px;
}
.arrow.down {
    transform: rotate(45deg);
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
}
.arrow.up {
    transform: rotate(-135deg);
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.form-container {
    width: 40%;
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    justify-content: center;
    padding-block: 10px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h1 {
    margin-bottom: 40px;
    font-size: 1.5em;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    color: #fff;
}
.form-group {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}
.form-group label {
    font-weight: bold;
    width: 150px;
    max-width: 80%;
    padding-bottom: 10px;
    color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease;
    margin-top: .7rem;
}
.form-group label:hover{
    cursor:none;
}
form textarea {
    height: 90px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 4px;
    background: transparent;
}
.form-group textarea {
    resize: vertical;
    height: 100px;
}
form input:hover,
form textarea:hover {
    background: #252525c5;
    cursor: none;
}


@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    90% {
        transform: translate(-50%, -50%) rotate(1080deg) scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes success {
    from {
        transform: translate(-50%, -50%) rotate(0) scale(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}

@keyframes error {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        background-color: #f44336;
    }
}

@keyframes vibrate {
    0%,
    30%,
    60%,
    85%,
    100% {
        left: 0;
        background-color: #f44336;
    }
    10%,
    40%,
    90%,
    70% {
        left: -2px;
        background-color: #f44336;
    }
    20%,
    50%,
    80%,
    95% {
        left: 2px;
        background-color: #f44336;
    }
}
#button2{
    margin-top: 15%;
    margin-left: 32%;
}
#button2:focus {
    outline: 0;
}

#button2.animate {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: transparent;
}

#button2.animate:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    border: 4px solid #fefefe;
    border-radius: 50%;
    border-left-color: transparent;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: spin 2.5s ease-in forwards;
}

#button2.success:before {
    position: absolute;
    content: '';
    width: 25px;
    height: 12.5px;
    border: 4px solid #fefefe;
    border-right: 0;
    border-top: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    animation: success 0.15s ease-in forwards;
    animation-delay: 2.5s;
}

#button2.error {
    animation: vibrate 0.5s ease-in forwards;
    animation-delay: 2.5s;
}

#button2.error:before {
    color: #fff;
    position: absolute;
    content: '!';
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: error 0.5s ease-in forwards;
    animation-delay: 2.5s;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    90% {
        transform: translate(-50%, -50%) rotate(1080deg) scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes success {
    from {
        transform: translate(-50%, -50%) rotate(0) scale(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}

@keyframes error {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        background-color: #f44336;
    }
}

@keyframes vibrate {
    0%,
    30%,
    60%,
    85%,
    100% {
        left: 0;
        background-color: #f44336;
    }
    10%,
    40%,
    90%,
    70% {
        left: -2px;
        background-color: #f44336;
    }
    20%,
    50%,
    80%,
    95% {
        left: 2px;
        background-color: #f44336;
    }
}

@media screen and (max-width: 650px) {
    .form-group {
        width: 100%;
        margin-bottom: 15px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        justify-items: flex-start;
    }
    .main-container {
        flex-direction: column;
        padding: 20px;
    }
    .faq-container, .form-container {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media(max-width: 850px){
    .text-container{
        padding-left: 0rem;
    }
}


@media(max-width:951px){
    #navbar{
        gap: 2rem;
    }
}

/* footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10%;
    font-family: Poppins;
    padding-top: 1rem;
    position: relative;
}